# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cb\Documents\Smail Jusic\Git-Aufgaben\java-02-1-erzahl-mir-etwas-uber-dich-SmailJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
